@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

/* font style */

.merriweather-normal{
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

.inter-normal{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
  }

/* font size */

.font-24{
  font-size: 24px;
}

.font-20{
  font-size: 20px;
}

.font-48{
  font-size: 48px;
}

/* font weight */

.bold{
  font-weight: bold;
}

.medium{
  font-weight: 500;
}

.normal{
  font-weight: 400;
}

.semi-bold{
  font-weight: 600;
}

.black{
  font-weight: 900;
}

/* text align */
.align{
  text-align: center;
  justify-content: center;
  align-items: center;
  

}

/* 1st picture */

/* linear-gradient(0deg, rgb(9, 9, 9) 3.482%,rgba(16, 16, 16, 0) 101.632%), */

#container{
  background-image: linear-gradient(180deg, rgb(9, 9, 9) 3.482%,rgba(16, 16, 16, 0) 101.632%), url(../images/Banner\ Image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  height: 100vh;
  transform: scale(0.9);
  /* object-fit: cover; */
  margin-bottom: 120px;
 border-radius: 16px;
  
}

#container .title .sub-title{
  font-size: 32px;
  color: #FFFFFF;
  text-align: center;
  justify-content: center;
  margin: 0;
  
}

#container .title .heading-2{
  font-size: 72px;
  color: #FFFFFF;
  text-align: center;
  justify-content: center;
  margin-top: 16px;
}


/* 2nd picture */

#b-container{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 120px;
}

#b-container .title .sub-title{
  font-size: 88px;
  color: #FF0000;
  margin-bottom: 48px;
}

#b-container .title .tub-title{
  color: #FF0000;
}

#b-container .title .pub-title{
  font-size: 48px;
  color: #070211;
  margin-top: 20px;
}

#b-container .title img{
  width: 600.9px;
height: 400px;
}


/* 3rd picture */

#c-container{
  background-image: linear-gradient(90deg, rgb(9, 9, 9) 3.482%,rgba(16, 16, 16, 0) 101.632%), url(../images/Vectorrr.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  transform: scale(0.9);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px
}

#c-container{
  margin-bottom: 120px;
}

#c-container .title .sub-title,.tub-title{
  margin-left: 0px;

  
}

#c-container .title .sub-title{
  font-size: 64px;
  margin-bottom: 24px;
  
  color: #FFFFFF;
}

#c-container .title .tub-title{
  font-size: 18px;
  color: #FFFFFF;
  line-height: 30px;
}

#c-container .title .pub-title{
  margin-top: 48px;
  margin-left: 40px;
  color: #FFFFFF;
}

#c-container .im-title img{
  width: 290px;
  height: 420px;
}


/* 4th picture */

#d-container{
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 75%;
  height: auto;
  border-radius: 16px;
  margin-bottom: 120px;
  padding: 70px 100px 110px 100px;
  margin: 50px auto;
  background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%); 
  border: none;
}
 

#d-container .title{
  font-size: 32px;
  line-height: 20px;
}

#d-container .title .red{
  color: #FF0000;
}

#d-container .tub-title .pub-title{
  font-size: 20px;
  padding: 12px 22px 12px 22px;
  margin-top: 25px;
  background-color: #FF0000;
  border-radius: 8px;
  border: none;
}

/* 5th picture */

#e-container{
  margin: 50px auto;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 120px;
  transform: scale(0.9);
  border: 1px solid grey;
}


#e-container .title{
margin-left: 140px;
padding-left: 0px;
gap: 0px;
width: 393px;
}

#e-container .title .new{
  color: #FF0000;
  margin-right: 256px;
  width: 237px;
  margin-bottom: 16px;
}

#e-container .title .com{
  font-size: 48px;
  margin-top: 10px;
  margin-bottom: 22px;
  margin-right: 135px;
  width: 328px;
  color: #070211;
}

#e-container .title .dolor{
  margin-right: 70px;
  width: 393px;
  color: rgba(7, 2, 17, 0.6);
}

#e-container .i-center{
  position: relative;
  display: inline-block;
}

#e-container .i-center .main-image{
  display: block;
  width: 364px;
  height: 364px;
  border-radius: 50%;
  padding: 40px;
  border: 10px solid red;
}


#e-container .son{
  font-size: 48px;
  margin-bottom: 20px;
  color: #FF0000;
}

#e-container .column-3 .dolor{
  color: rgba(7, 2, 17, 0.6);
  line-height: 25px;
  margin-bottom: 43px;
}

#e-container .column-3{
  margin-left: 118px;
  margin-right: 140px;
  width: 276px;
}

#e-container .column-3 .i-last{
  margin-right: 276px;
}

#e-container .column-3 .i-last img{
  width: 140px;
}


/* 6th picture */

#f-container{
width: 1320px;
margin: 50px auto;
transform: scale(0.9);
justify-content: center;
align-items: center;
text-align: center;
border: 1px solid gray;
margin-bottom: 120px;
}


#f-container .container{
  margin-bottom: 350px;
}

#f-container .title{
  color: #070211;
}

#f-container .sub-title{
  font-size: 72px;
  margin-top: 16px;
  margin-bottom: 28px;
}

#f-container .text-red{
  color: #FF0000;
}

#f-container .tub-title{
  color: rgba(7, 2, 17, 0.6);
  line-height: 32px;
  justify-content: center;
  align-items: center;
  text-align: center;
}


#f-container .image-container{
  position: relative;
  width: 1320px;
  margin: 50px auto;
  transform: scale(0.9);
  margin-top: 64px;
}

#f-container .image-container .red{
  width: 100%;
  display: block;
}

#f-container .image-container .box{
  position: absolute;
  width: 674px;
  height: 577px;
  bottom: 10px;
  left: 20px;
  right: 50%;
}

#f-container .image-container .discount{
  position: absolute;
  width: 305px;
  right: 40px;
  bottom: 279px;
}


/* 7th picture */

#g-container .title{
  color: #FF0000;
}

#g-container .h-title{
  margin-top: 16px;
  margin-bottom: 22px;
}



#g-container .image-container .first-line{
  display: flex;
}


#g-container .image-container .second-line{
  display: flex;
}
