@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

/* font style */

.merriweather-normal{
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

.inter-normal{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
  }

/* font size */

.font-24{
  font-size: 24px;
}

.font-20{
  font-size: 20px;
}

.font-48{
  font-size: 48px;
}

/* font weight */

.bold{
  font-weight: bold;
}

.medium{
  font-weight: 500;
}

.normal{
  font-weight: 400;
}

.semi-bold{
  font-weight: 600;
}

.black{
  font-weight: 900;
}